<!--
  Generated template for the PointingGame page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pointing-game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="container"></div>


<script>
  var deltaX = null;
  var startX = null;
  document.querySelector('.container').addEventListener('touchstart',function(e){
    deltaX = e.targetTouches[0].pageX;

    this.addEventListener('touchmove',function(e){
      console.log(deltaX);
    },false);
  },false);



</script>

</ion-content>
