page-all-games {

  .jagge {
    position: absolute;
    z-index: -1;
    top: 125px;
    left: 230px;
    height: 35px;
    opacity: 0;
    transition: .3s;
  }

  .jagge-active {
    opacity: 1;
    transition-delay: .4s;
    z-index: 5;
  }

  .icons {
    font-size: 1.5em;
    padding: 15px;
    color: white;
  }

  #blackOrRed {
    background-color: green !important;
  }

  #color {
    position: absolute;
    background-color: #E05045;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  #pointingText {
    z-index: 2;
  }

}
