<!--
  Generated template for the AllGames page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Games</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <button ion-button round class="jagge"> Play </button>

  <flashcard id="blackOrRed">
    <div class="flash-card-front" id="color"></div>
    <div class="flash-card-front" id="pointingText"> Black or Red </div>
    <div class="flash-card-back"  id="color"></div>
    <div class="flash-card-back" id="pointingText">
      <ion-icon name="people" class="icons">1-2</ion-icon>
      <ion-icon name="happy" class="icons">61%</ion-icon>
    </div>
  </flashcard>

  <flashcard id="drinkRoulette">
    <div class="flash-card-front" id="color"></div>
    <div class="flash-card-front" id="pointingText"> Drink Roulette </div>
    <div class="flash-card-back"  id="color"></div>
    <div class="flash-card-back" id="pointingText">
      <ion-icon name="people" class="icons">4+</ion-icon>
      <ion-icon name="happy" class="icons">66%</ion-icon>
    </div>
  </flashcard>

  <flashcard id="neverHaveIEver">
    <div class="flash-card-front" id="color"></div>
    <div class="flash-card-front" id="pointingText"> Never Have I Ever </div>
    <div class="flash-card-back"  id="color"></div>
    <div class="flash-card-back" id="pointingText">
      <ion-icon name="people" class="icons">5+</ion-icon>
      <ion-icon name="happy" class="icons">70%</ion-icon>
    </div>
  </flashcard>

  <flashcard id="pointingGame">
    <div class="flash-card-front" id="color"></div>
    <div class="flash-card-front" id="pointingText"> Pointing Game </div>
    <div class="flash-card-back"  id="color"></div>
    <div class="flash-card-back" id="pointingText">
      <ion-icon name="people" class="icons">5+</ion-icon>
      <ion-icon name="happy" class="icons">65%</ion-icon>
    </div>
  </flashcard>

  <flashcard id="rideTheBus">
    <div class="flash-card-front" id="color"></div>
    <div class="flash-card-front" id="pointingText"> Ride the Bus </div>
    <div class="flash-card-back"  id="color"></div>
    <div class="flash-card-back" id="pointingText">
      <ion-icon name="people" class="icons">3-6</ion-icon>
      <ion-icon name="happy" class="icons">80%</ion-icon>
    </div>
  </flashcard>




</ion-content>
