<!--
  Generated template for the HowDrunk page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar> -->
    <ion-title></ion-title>
  <!-- </ion-navbar> -->

</ion-header>


<ion-content>
  <div class="animateme">

    <p class="drunk">How drunk are you?</p>


    <ion-range class="ionSlider" pin="true" min="0" max="100" [(ngModel)]="drunkness" onchange="displayText()">
  <!-- <img small range-left src="../assets/beer.png" height="6%" width="6%">
  <img range-right src="../assets/beerSS.png" height="15%" width="15%"> -->
      <!-- <ion-label range-right>%</ion-label> -->
    </ion-range>


    <button ion-button round outline  id="goToPage" (click)="clickedGo();"> Start </button>

    <button ion-button round outline color="danger"  class="skip" (click)="navHomePage();"> Skip</button>


<!--BACKGROUND ANIMATION-->

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>





</ion-content>
