page-home {



//-----------------------------------
//---------------MENU----------------
//-----------------------------------

  #navBar {
    width: 100%;
    height: 3.6em;
    background-color: #000000;
  }

  .b-a {
     transition: all .25s;
     content: "";
     position: absolute;
     left: 0px;
     height: 6px;
     width: 30px;
     border-radius: 15px;
     background-color: rgba(255, 255, 255, 0.95);
  }
  .menu-collapsed {
     transition: all .25s;
     position: fixed;
     top: 10px;
     left: 9px;
     height: 36px;
     width: 36px;
     z-index: 1;
     cursor: pointer;
     ul {
        transition: all 0s;
        position: fixed;
        left: -9000px;
     }
  }
  .bar {
     @extend .b-a;
     position: fixed;
     left: 12px;
     top: 24px;
     &:before {
        @extend .b-a;
        top: -8px;
     }
     &:after {
        @extend .b-a;
        top: 8px;
     }
  }
  .b-a-expanded {
     transition: all .25s;
     top: -0px;
  }
  .menu-expanded {
     transition: all .25s;
     text-align: center;
     line-height: 5em;
     height: 100%;
     width: 100%;
     border-radius: 0px;
     top: 0px;
     left: 0px;
     background-color: rgba(0, 0, 0, 0.85);
     ul {
        transition: all 0s;
        position: relative;
        left: -20px;
        // width: 380px;
        z-index: 2;
     }
     p {
        transition: all .15s;
        text-decoration: none;
        font-size: 2em;
        padding: 5px;
        color: #fff;
        display:block;
        &:hover {
           transition: all .15s;
           letter-spacing: 2px;
        }
     }
     .bar {
        background-color: transparent;
        transition: all .25s;
        &:before {
           @extend .b-a-expanded;
           transform: rotate(45deg);
        }
        &:after {
           @extend .b-a-expanded;
           transform: rotate(-45deg);
        }
     }
  }




//------------------------------------------
//---------------HOME PAGE 1----------------
//------------------------------------------

  .boxSize {
  position: absolute;
  text-align: center;
  background-color: #fff;
  height: 33.333%;
  width: 50%;
  border: 1px solid black;
  float: left;
  overflow: auto;
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -ms-transition: .25s ease;
  transition: .25s ease;
  }

  // .backgroundBox{
  //   background-color: #000000;
  //   visibility: hidden;
  // }


  #signIn {
    top: 0px;
    left: 0px;
  }
  #recommend {
    top: 0px;
    right: 0px;
  }
  #allGames {
    top: 33.333%;
    left: 0px;
  }
  #popular {
    top: 33.333%;
    right: 0px;
  }
  #settings {
    bottom: 0px;
    left: 0px;
  }
  #drinkSafe {
    bottom: 0px;
    right: 0px;
  }

  // .boxbackground {
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 0px;
  //   top: 0px;
  //   left: 0px;
  //   background-color: rgba(0, 0, 0, 0.85);
  // }

  .transform-active {
    height: 100%;
    width: 100%;
    z-index: 10;
    // top: 0% !important;
    // left: 0% !important;
    }


  .transform-active-mid {
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0% !important;


  }

  .Buttons {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: .5em 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5em;

  }







}
