


<ion-header>
    <div id="navBar"></div>
    <div class="menu-collapsed">
      <div class="bar"></div>
        <ul>
          <li><p type="button"  (click)="nextPage();">Home</p></li>
        </ul>
    </div>
</ion-header>

<ion-content>



  <div class="boxbackground">  </div>

    <div class="boxSize" id="signIn">
      <p> Sign in </p>
    </div>

    <div class="boxSize" id="recommend">
      <button>Recommended </button>
    </div>

    <div class="boxSize" id="allGames">
      <p>All games </p>
    </div>

    <div class="boxSize" id="popular">
      <p>Popular </p>
    </div>

    <div class="boxSize" id="settings">
      <p>Settings </p>
    </div>

    <div class="boxSize" id="drinkSafe">
      <p>Drink safe </p>
    </div>


</ion-content>
