page-stage-two-home {


  //-----------------------------------
  //---------------MENU----------------
  //-----------------------------------

    #navBar {
      width: 100%;
      height: 3.6em;
      background-color: #000000;
    }

    .b-a {
       transition: all .25s;
       content: "";
       position: absolute;
       left: 0px;
       height: 6px;
       width: 30px;
       border-radius: 15px;
       background-color: rgba(255, 255, 255, 0.95);
    }
    .menu-collapsed {
       transition: all .25s;
       position: fixed;
       top: 10px;
       left: 9px;
       height: 36px;
       width: 36px;
       z-index: 1;
       cursor: pointer;
       ul {
          transition: all 0s;
          position: fixed;
          left: -9000px;
       }
    }
    .bar {
       @extend .b-a;
       position: fixed;
       left: 12px;
       top: 24px;
       &:before {
          @extend .b-a;
          top: -8px;
       }
       &:after {
          @extend .b-a;
          top: 8px;
       }
    }
    .b-a-expanded {
       transition: all .25s;
       top: -0px;
    }
    .menu-expanded {
       transition: all .25s;
       text-align: center;
       line-height: 5em;
       height: 100%;
       width: 100%;
       border-radius: 0px;
       top: 0px;
       left: 0px;
       background-color: rgba(0, 0, 0, 0.85);
       ul {
          transition: all 0s;
          position: relative;
          left: -20px;
          // width: 380px;
          z-index: 2;
       }
       p {
          transition: all .15s;
          text-decoration: none;
          font-size: 2em;
          padding: 5px;
          color: #fff;
          display:block;
          &:hover {
             transition: all .15s;
             letter-spacing: 2px;
          }
       }
       .bar {
          background-color: transparent;
          transition: all .25s;
          &:before {
             @extend .b-a-expanded;
             transform: rotate(45deg);
          }
          &:after {
             @extend .b-a-expanded;
             transform: rotate(-45deg);
          }
       }
    }

    ul li {
      position: relative;
      top: 25%;
    }


    //-----------------------------------
    //---------------FABS----------------
    //-----------------------------------


    .fabRec {
      position: absolute;
      top: 67%;
      opacity: 1;
      transition: .25s ease;
      z-index: 3

    }

    .fabLog {
      position: absolute;
      top: 6%;
      opacity: 1;
      z-index: 5;
      transition: .25s ease;
    }

    #recFont {
      position: relative;
      font-size: 1.3em;
      font-style: italic;
      text-align: center;
      color:  #F54444;
      top: 66%;
    }

    #popFont {
      position: relative;
      font-size: 1.3em;
      font-style: italic;
      text-align: center;
      color:  #488aff;
      top: 27.5%;
    }

    #signFont {
      position: relative;
      font-size: 1.3em;
      font-style: italic;
      text-align: center;
      color:  #32db64;
      top: -10%;
    }


    .participants {
      position: relative;
      top: 20%;
      display: block;
      text-align: center;
      font-size: 1.5em;
      opacity: 0;
      transition-delay: 2s;
      transition: .25s ease;
    }

    .participants-active {
      opacity: 1;
      transition-delay: .26s;
    }

    .participantsRec {
      position: relative;
      top: 12%;
      display: block;
      text-align: center;
      font-size: 1.5em;
      opacity: 0;
      transition-delay: 2s;
      transition: .25s ease;
    }

    .participants-activeAgain {
      opacity: 1;
      transition-delay: .26s;
    }

    .fabPop {
      position: absolute;
      top: 36%;
      opacity: 1;
      transition: .25s ease;
      z-index: 3;
    }


    .moveAllStuff {
      position: absolute;
      top: 35%;
      z-index: 9;
    }

    .hideItem {
      opacity: 0;
      z-index: -111;
    }

    .moveItem {
      position: absolute;
      top: 27%;
      z-index: 9;
    }

    .logInDetails {
      position: absolute;
      top: 50%;
      min-width: 100%;
      opacity: 0;
      z-index: -1;
      left: -500px;
      transition: .15s ease;
    }

    .logInDetails-active {
      opacity: 1;
      transition: .3s ease;
      z-index: 9;
      transition-delay: .10s;
      left: 0px;

    }



    //---------------------
    //MOVE ITEMS ONECE MORE
    //---------------------


    .threeRec {
      opacity: 1;
      z-index: -1
    }

    .recThree {
      position: absolute;
      opacity: 1;
      transition-delay: 1s;
      transition: .25s ease;
      z-index: 1;
    }

    .recTwo {
      position: absolute;
      opacity: 1;
      transition-delay: 1s;
      transition: .25s ease;
      z-index: 1;

    }

    .recOne {
      position: absolute;
      opacity: 1;
      transition-delay: 1s;
      transition: .25s ease;
      z-index: 1;

    }

    .hideItemAgain {
      opacity: 0;
      z-index: -111;
      left: 1000px;
    }

    .moveAllStuffAgain {
      position: absolute;
      top: -60%;
      z-index: 8;
      transition-delay: .20s;
    }

    .moveFromLeft {
      position: absolute;
      left: 160%;
      z-index: 9;
      // transition: .25s ease;
      transition-delay: .20s;
    }

    .moveFromRight {
      position: absolute;
      left: -60%;
      z-index: 9;
      // transition: .25s ease;
      transition-delay: .20s;

    }

    .numberOP {
      font-size: 1.5em;
    }






    //-----------------------------------
    //---------------Icons----------------
    //-----------------------------------

    .fab ion-icon {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 8em;
    }


}
