<ion-header>
    <div id="navBar"></div>
    <div class="menu-collapsed">
      <div class="bar"></div>
        <ul>
          <li><p type="button"  (click)="nextPage();">Home</p></li>
          <li><p type="button"  >All games</p></li>
          <li><p type="button"  >Sign in</p></li>
          <li><p type="button"  (click)="navHowDrunk();">How drunk are you?</p></li>
        </ul>
    </div>
</ion-header>


<ion-content>
  <p class="participants" id="textShow"> Number of participants </p>
  <p class="participantsRec" id="textShowAgain"> Best suited games  </p>

  <p id="recFont" color="danger">Recommended</p>
  <p id="popFont" color="danger">Popular</p>
  <p id="signFont" color="danger">Sign in</p>

  <ion-fab center class="fabRec">
    <button ion-fab outline color="danger" id="showText"><img src="../assets/RecommendG.png" /></button>

    <ion-fab-list side="bottom">
            <ion-fab center middle class="recOne">
              <button ion-fab color="myBlue" mini id="oneRec"><p class="numberOP">4-7</p></button>
              <ion-fab-list side="bottom">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
              <ion-fab-list side="left">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
              <ion-fab-list side="right">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
            </ion-fab>
    </ion-fab-list>
    <ion-fab-list side="left">
            <ion-fab center middle class="recTwo">
              <button ion-fab color="myBlue" mini class="twoRec" id="moveBa"><p class="numberOP">1-3</p></button>
              <ion-fab-list side="bottom">
                <button ion-fab color="secondary"> </button>
              </ion-fab-list>
              <ion-fab-list side="left">
                <button ion-fab color="light"> </button>
              </ion-fab-list>
              <ion-fab-list side="right">
                <button ion-fab color="dark"> </button>
              </ion-fab-list>
            </ion-fab>
    </ion-fab-list>
    <ion-fab-list side="right">
            <ion-fab center middle class="recThree">
              <button ion-fab color="myBlue" mini class="threeRec"><p class="numberOP">7-∞</p></button>
              <ion-fab-list side="bottom">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
              <ion-fab-list side="left">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
              <ion-fab-list side="right">
                <button ion-fab color="danger"> </button>
              </ion-fab-list>
            </ion-fab>
    </ion-fab-list>
  </ion-fab>

  <ion-fab center class="fabPop">
    <button ion-fab color="" class="popPop"><ion-icon class="happyFace"name="ios-happy-outline"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="myYellow"></button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab color="myYellow"></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="myYellow"></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab color="myYellow"></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab center class="fabLog">
    <button ion-fab color="secondary" class="logLog"><ion-icon name="ios-person"></ion-icon></button>
    <ion-fab-list side="bottom">
    </ion-fab-list>
  </ion-fab>

  <ion-list class="logInDetails">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
